# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c9cb003ecf01ee5d9ced551f25f025c8c3da9827cfb80c245c142277b9f1c6c97ce7973f7b58b7c467641b5f13c36c1fa7f6d49cf91cd84ab1a876c77db6105b

test:
  secret_key_base: 1707e8160bf6372251cfa15b9f3087ec9e449778f09976d388f53090ebc6f0c53a5fa5480466ecbdada92837f7ef40042876fdfb1280d7c5a182fa8e59b6b078

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
