/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
h1 {
	text-align: center;
	font-style: Verdana;
	font-size: 36px;
	color: blue;
}